.icon{
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}
.icon_header{
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
}
.icon,.icon_header{
    margin-right: 5px;
}
.header{
    grid-area: header;
    background-color:  rgb(152, 170, 229);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0,0, 0,0.35);
}
.menu-icon{
    display: none;
}
.dropdown{
    position: relative;
    margin: 10px 10px;
}
.admin-icons{
    background-color: #05798b;
    height:50px;
    width:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.admin-icons:hover{
    background-color: #046574;
}
.admin-icon,.down-icon{
    height:26px;
    width:26px;
}
.admin-icon:hover,.down-icon:hover{
    background-color: #024651;
    border-radius: 50%;
}
.dashboard-title{
    color:rgb(36, 36, 71);
    margin: 10px 18px;
}

.outer-box{
    display: flex;
    height:100vh;
    background-color: rgba(242, 244, 246, 0.55);
}

.header-logout{
    background-color: rgb(230, 229, 229);
    color: rgb(0, 0, 0);
}

.header-logout:hover{
    background-color: rgb(244, 242, 242);
}

.header-wrapper{
 display: flex;
 flex: 1;
 flex-direction: column;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(255, 255, 255);
    -webkit-box-shadow: -1px 13px 25px -2px rgba(184,180,184,1);
    -moz-box-shadow: -1px 13px 25px -2px rgba(184,180,184,1);
    box-shadow: -1px 13px 25px -2px rgba(184,180,184,1);
}
/* .Routes{
    display: flex;
    flex:1;
    padding:24px;
    background-color: rgb(244, 242, 238);
} */