.order-select{
     width:110px;
    height: 36px;
}
.status_update{
    display: flex;
    gap: 10px;
}
.status_updatebtn{
    width:40%;
    margin: 0;
    background-color: #1a82c8;
}
.invoice-btn{
    width:18%;
    display: flex;
    gap:10px;
    margin-left:800px;
    background-color: #1a82c8;
}
