
h2{
    margin-top: 20px;
    margin-left: 20px;
}

.category-main{
    margin-top: 20px;
    margin-left: 10px;
}
.order-table{
    font-size: 4px;
}
.order-title{
    padding: 20px 10px 0px 10px;
}
.order-table td{
    font-size: 13px;

}