.addcategory-form{
    display: flex;
    flex-direction: column;
    /* padding:0.9em 1.4em; */
    justify-content: center;
    background-color: #ffffff;
    color: rgb(66, 62, 62);
    gap:6px;
    width:30em;
    height: 65vh;
    align-items: flex-start;
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 2px 1px 50px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 50px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 50px -2px rgba(0,0,0,0.75);
    
}
.addcategory-form input{
    background-color: #efeeee;
}
.categoryimage-add{
    color: #060d17;
}
.action-box {
    display: flex;
    gap: 10px;
  }
  .action-box button {
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
  }
  .action-box button:hover {
    /* background-color: #2980b9; */
  }

.addcategory-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6d68684e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}
.hascategory{
    display: flex;

}
.hascategory-checkbox{
    width:15px;
    height:15px;
}
.addcategory-btn{
    background-color: #1e293b;
}
.addcategory-btn:hover{
    background-color: rgb(99, 98, 98);
    color: #ffffff;
}
.upper-addbox{
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}
.categoryname{
    color:black;
    font-size: 14px;
   
}
.categoryImage:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    border-color: #3498db; /* Change border color on hover */
  }
.categoryImage{
    height:60px;
    width:60px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.upper-addbtn{
    width: 5em;
    height: 2.6em;
    background-color: #05798b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: #817e7e 0.3s ease;
}

.upper-addbtn:hover{
    background-color: #013f48;
}

.category-table{
    margin: 20px 15px;
    width: 100%; /* Adjust width */
    max-width: 1150px; /*Limit max width */
   /* margin-bottom: 60px; */
   border-collapse: collapse;
   border-radius: 10px;
   overflow: hidden;
   background: white;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.category-table th{
    background-color: #1e293b; /* Light gray header */
    color: white;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
}
.category-table td {
    padding: 10px;
    text-align: center;
    font-size: 13px;
    /* border-bottom: 1px solid #ddd; */
  }
.modelclose-wrapper{
    display: flex;
}
.modelclose-btn{
   margin:0;
    width:25px;
    color: rgb(31, 28, 28);
    background-color: #ffffff;
}
.modelclose-btn:hover{
    color: rgb(31, 28, 28);
    background-color: #ffffff;
}
.actionmanage-btn, .actionproduct-btn{
    background-color: #817e7e;
    color: white;
    border: none;
    width: auto;
    padding: 7px 11px;
    margin-bottom: 10px;
    margin-top: 38px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}

.categorymodel_title{
    display: flex;
    gap:100px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .category-table th, .category-table td {
      padding: 8px;
      font-size: 14px;
    }
  
    .categoryImage {
      height: 40px;
      width: 40px;
    }
  }