.addcategory-form{
    display: flex;
    flex-direction: column;
    padding:0.9em 1.4em;
    background-color: #293b56;
    color: azure;
    gap:4px;
    border-radius: 12px;
    box-shadow: 0 8px 16px #0003;
    position: relative;
    
}
.categoryimage-add{
    color: #060d17;
}


.addcategory-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
}
.hascategory{
    display: flex;

}
.hascategory-checkbox{
    width:15px;
    height:15px;
}
.addcategory-btn{
    background-color: #949aa3;
}
.addcategory-btn:hover{
    background-color: white;
    color: #060d17;
}
.upper-addbox{
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}
.categoryname{
    color:black;
}
.categoryImage{
    height:50px;
    width:50px;
    object-fit: cover;
}

.upper-addbtn{
    width: 5em;
    height: 2.6em;
    background-color: #05798b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: #817e7e 0.3s ease;
}

.category-table{
    width: 100%;
    margin: 10px 20px;
}
.modelclose-wrapper{
    display: flex;
}
.modelclose-btn{
    margin:0px 80%;
    width:50px;
    background-color: #293b56 ;
    color: azure;
}
.modelclose-btn:hover{
    background-color: #293b56 ;
    color: azure;
}
.actionmanage-btn,.actionproduct-btn{
    background-color: #515da7; 
    color: white;
    border: none;
    width: auto;
    padding: 3px 8px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}
.actionmanage-btn:hover,.actionproduct-btn:hover{
    background-color: #8389ad;
    
}


