.dashboard{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.items{
    border: 1px solid #ccc;
    width: 220px;
    height: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon{
    font-size: 40px;
    color: #064a9c;
}